

/**
 * Remover espaçamento padrão
 * 
 */
.wp-block-columns {
    margin-bottom: 0;
}

/**
 * Bloco guntenberg comum
 * 
 */
.entry-content {
    margin: 0 auto;

    > *:not(.full-width) {
        @include make-container();
        @include make-container-max-widths();
    }
    
    > .full-width {
        padding: 2rem 15px;
        @include full-with-column-lateral-padding(0px);

        //> .wp-block-group__inner-container {
        //    @include make-container();
        //    @include make-container-max-widths();
        //}
    }

    iframe {
        margin: 0 auto;
    }

    ol, ul {
        padding-left: 2.2rem !important;
    }
}

/**
 * Blog
 * 
 */
body.blog article {
    
    > *:not(.full-width) {
        @include make-container();
        @include make-container-max-widths();
    }
    
    > .full-width {
        padding: 2rem 15px;
        @include full-with-column-lateral-padding(0px);
    }
}

/**
 * Organizadores
 * 
 */
.wordcamp-image__avatar-container {

    img {
        border-radius: 50%;
    }
}



