

/**
 * Remover espaçamento padrão
 * 
 */
.wp-block-columns {
    margin-bottom: 0;
}
article.hentry {
    margin-bottom: 0;

    .entry-content > *:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 1rem;
    }
}

/**
 * Bloco guntenberg comum
 * 
 */
.entry-content {
    margin: 0 auto;

    > *:not(.full-width) {
        @include make-container();
        @include make-container-max-widths();
        margin-right: auto !important;
        margin-left: auto !important;
    }
    
    > .full-width {
        padding: 2rem 15px;
        @include full-with-column-lateral-padding(0px);

        //> .wp-block-group__inner-container {
        //    @include make-container();
        //    @include make-container-max-widths();
        //}
    }

    iframe {
        display: block;
        margin: 0 auto;
    }

    ol, ul {
        padding-left: 2.2rem !important;
    }

    /**
     * blocos wordcamp
     * 
     */
    .session-categories-links {
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
        @include make-container();
        @include make-container-max-widths();
    }
}

/**
 * Blog
 * 
 */
body.blog article {
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }
    
    > *:not(.full-width) {
        @include make-container();
        @include make-container-max-widths();
    }
    
    > .full-width {
        padding: 2rem 15px;
        @include full-with-column-lateral-padding(0px);
    }
}

/**
 * Elementos auxiliares
 * 
 */
.hentry .entry-meta,
.site-navigation,
#comments {
    margin-right: auto !important;
    margin-left: auto !important;
    @include make-container();
    @include make-container-max-widths();
}

#content .site-navigation {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.comments-title {
    font-size: 1.6rem;
    font-weight: 400;
}

/**
 * Organizadores
 * 
 */
.wordcamp-image__avatar-container {

    img {
        border-radius: 50%;
    }
}

/**
 * Patrocinadores
 * 
 */
.wordcamp-post-list__post {

    .wordcamp-sponsor {
        height: 100%;
        display: flex;
        align-items: center;

        .wordcamp-image__featured-image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img.wordcamp-image__featured-image {
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.sponsors-title {
    font-weight: bold;
    font-size: 2.6rem;
}

.sponsor-ouro img {
    width: clamp(200px, 280px, 100%);
}
.sponsor-prata img {
    width: clamp(150px, 230px, 100%);
}
.slug-kangaroo-host div a img {
    width: clamp(200px, 300px, 100%);
}
.slug-estudio-haste div a img {
    max-height: 6rem;
}
.sponsor-bronze img {
    width: clamp(100px, 200px, 100%);
}

.wcorg-sponsor-description {
    margin-bottom: 90px;
}

.sponsor-tier {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem !important;
    padding-bottom: 0.5rem !important;
}

.wcorg-sponsor h3 a {
    display:none;
}

#footer-widget-2 aside.widget {
    max-width: 1200px !important;
}

.wcorg-sponsor-level-ouro h2 {
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 90px;
    margin-top: 90px;
    color: #ffbf00;
}

.wcorg-sponsor-level-prata h2 {
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 90px;
    margin-top: 90px;
    color: #9a9a9a;
}

.wcorg-sponsor-level-bronze h2 {
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 90px;
    margin-top: 90px;
    color: #cd7f32;
}

.widget_block ul.wordcamp-block.wordcamp-sponsors {
    padding-bottom: 50px !important;
}

.wcb_sponsor-template-default {

    #content {

        .attachment-post-thumbnail {
            display: block;
            margin: 2rem auto;
            height: auto;
            max-width: 400px;
            
            @include media-breakpoint-down(md) {
                max-width: calc(100% - 2rem);
            }
        }
    }
}

// patrocinador individual
.wcorg-sponsor {
    position: relative;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

// listagem patrocinador
.wcorg-sponsor-description {

    img {
        display: block;
        margin: 2rem auto;
        height: auto;
        max-width: 400px;
        
        @include media-breakpoint-down(md) {
            max-width: calc(100% - 2rem);
        }
    }
}

/**
 * Palestrante
 * 
 */
body.single-wcb_speaker .entry-meta {
    display: none;
}
