
:root {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
}

a {
    color: $wcsp-red;
}

/**
 * Headings
 * 
 */
@include media-breakpoint-up(sm) {
    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

/**
 * Remover espaçamento de últimas tags
 * 
 */
p:last-child, 
ul:last-child, 
ol:last-child, 
li:last-child
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

/**
 * BGs coloridos, uso geral
 * 
 */
.bg-blue      {background-color: $wcsp-blue;}
.bg-red       {background-color: $wcsp-red;}
.bg-yellow    {background-color: $wcsp-yellow;}
.bg-purple    {background-color: $wcsp-purple;}

#primary {
    @include clearfix;
    
    @include media-breakpoint-up(lg) {
        padding-top: 72px;
    }
}

/**
 * Rodapé
 * 
 */
#colophon {

    .site-info {
        background-color: $wcsp-purple;
        color: $wcsp-yellow;
        text-align: center;
        padding: 0.5rem;

        a {
            color: #fff;
            margin: 0 20px;

            &:hover {
                color: #fff;
            }
        }
    }
}
