
:root {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
}

a {
    color: $wcsp-red;
}

.bg-blue      {background-color: $wcsp-blue;}
.bg-red       {background-color: $wcsp-red;}
.bg-yellow    {background-color: $wcsp-yellow;}
.bg-purple    {background-color: $wcsp-purple;}

#primary {
    @include clearfix;
    
    @include media-breakpoint-up(lg) {
        padding-top: 72px;
    }
}

#colophon {

    .site-info {
        background-color: $wcsp-purple;
        color: $wcsp-yellow;
        text-align: center;
        padding: 0.5rem;

        a {
            color: #fff;
            margin: 0 20px;

            &:hover {
                color: #fff;
            }
        }
    }
}
