
body.home {

    .header-hero {
        margin-bottom: 0;
    }
    
    .entry-header {
        display: none;
    }
}

.section-call-to-action {
    background: url('https://2019.saopaulo.wordcamp.org/files/2019/07/wordcamp-sao-paulo-2018-foto-geral.jpg') fixed center / cover;
    color: $white;
    padding: 15px;
    @include one-side-container-margin( padding, 0px );
    padding-top: 15vmin !important;
    padding-bottom: 15vmin !important;
    position: relative;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba( $black, 0.8 );
        z-index: 1;
    }

    .wp-block-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        z-index: 10;
    }

    .wp-block-column {
        position: relative;
        z-index: 10;
    }

    h2 {
        @extend .display-title;
        margin-bottom: 15px;
        color: $wcsp-yellow;
    }

    p {
        line-height: 1.5;
    }
}

.section-about-wordcamp {
    margin-bottom: 90px;
    margin-top: 90px;
}

.section-target-audience {
    padding-bottom: 90px !important;
    padding-top: 90px !important;
}

#footer-widget-1 {
    padding-bottom: 90px !important;
    padding-top: 90px !important;
}

#footer-widget-2 {
    padding-bottom: 90px !important;
    padding-top: 90px !important;
}

#block-19 {
    margin-top: 90px;
}
